.filters{
    width: 20%;
    border: 2px solid grey;
    background-color: lightgray;
    border-radius: 10px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subfilter{
    padding-left: 10%;
    cursor: pointer;
    width: fit-content;
}

.titlef{
    font-size: 110%;
}

.collpasebody{
    background-color: lightgray;
    font-size: 85%;
    padding-left: 20%;
}

.collpasebody > div{
    margin-bottom: 1px;
    width: fit-content;
    cursor: pointer;
}
