.card-body {
    display: flex;
    flex-direction: column;
}

.btn-add {
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    background-color: rgb(35, 35, 129);
    color: white;
    font-weight: 500;
    border-style: hidden;
    margin-top: auto;
}

.btn-add:hover {
    background-color: rgb(17, 17, 76);
    transition:0.3s;
}