.product{
    width: 32%;
    border-radius: 10px;
    border: 2px solid grey;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: fit-content;
}

.product:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgp{
    border-radius: 10px;
    width: 70%;
}

.imgpContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.namep{
    font-weight: bold;
}

.descp{
    font-size: 80%;
    overflow: auto;
}

.pricep{
    font-size: 140%;
    font-weight: bold;
}

.prodmob{
    height: 57vh;
}