.service-body-container {
    width: 50%;
}

.service-img {
    width: 50%;
}

.react-calendar {
    display: block;
}

.book-btn {
    background-color: rgb(0, 118, 0);
    border-radius: 1em;
    color: white;
    font-size: 1.5em;
    border-color: rgb(0, 118, 0);
    border-style: solid;
    padding:0.2em;
    width:30%;
    transition: 0.2s;
    font-weight: 500;
    margin-top: 2em;
}

.book-btn:hover {
    border-radius: 10px;
    transition:0.2s;
}

.service-container {
    margin-bottom: 3em;
}

.more-btn {
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 1em;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: black;
    padding: 0.3em 0.7em;
    font-weight: 600;
    transition: 0.2s;
}

.more-btn:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.mobile-service 
{
    flex-direction: column;
}

.mobile-service > .service-img {
    width: 100%;
}

.mobile-service > .service-img > img {
    border-radius: 10px;
}

.mobile-service > .service-body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-service .service-name {
    text-align: center;
}

.mobile-service .service-price {
    text-align: center;
    font-weight: 600;
    font-size: large;
}

.mobile-service .more-btn {
    text-align: center;
}

.mobile-service .book-btn {
    width: 80%;
}