<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/index.css">
</head>

<body>
    <nav class="nav">
        <a href="../utenti/utenti.html" class="nav__link" data-link>Customer data</a>
        <a href="../bacheca/bacheca.html" class="nav__link" data-link>Community Feed</a>
        <a href="./prodotti.html" class="nav__link" data-link>Products</a>
        <a href="../servizi/servizi.html" class="nav__link" data-link>Services</a>
        <a href="../serviziOnline/serviziOnline.html" class="nav__link" data-link>Online Services</a>
        <a href="/shop" class="nav__link" data-link>Back to Shop</a>
        <a href="/game" class="nav__link" data-link>Play</a>
        <a href="/backoffice" class="nav__link" data-link>LogOut</a>
    </nav>
    <div id="app">
        <h1 class="title" style="text-align:center; margin-bottom:50px">Products</h1>
        <div class="productCard text-center" id="productCards" style="margin-left:50px; margin-bottom:50px"></div>
        <div class="buttonGroup text-center" id="buttonGroup">
            <button class="btn btn-warning" id="addBtn">Add product</button>
            <button class="btn btn-danger" id="removeBtn">Remove product</button>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="prodotti.js"></script>

</html>