<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/index.css">
</head>

<body>
    <nav class="nav">
        <a href="../utenti/utenti.html" class="nav__link" data-link>Customer data</a>
        <a href="../bacheca/bacheca.html" class="nav__link" data-link>Community Feed</a>
        <a href="./prodotti.html" class="nav__link" data-link>Products</a>
        <a href="../servizi/servizi.html" class="nav__link" data-link>Services</a>
        <a href="/" class="nav__link" data-link>Back to Shop</a>
        <a href="/game" class="nav__link" data-link>Play</a>
        <a href="/backoffice" class="nav__link" data-link>LogOut</a>
    </nav>
    <div id="app">
        <h1 class="title" style="text-align:center; margin-bottom:50px">Products</h1>
        <div id="container" style="margin-bottom:50px">
            <div class="row" id="productCards"></div>
            <div class="container" id="formcontainer" style="display:none">
                <form class="form form--hidden" id="addProductForm">
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput">
                    </div>
                    <div class="form-group">
                        <label for="favoritesInput">Description</label>
                        <input type="text" class="form-control" id="descriptionInput">
                    </div>
                    <div class="form-group">
                        <label for="scoreInput">Price</label>
                        <input type="text" class="form-control" id="priceInput">
                    </div>
                    <div class="form-group">
                        <label for="scoreInput">Availability</label>
                        <input type="text" class="form-control" id="availabilityInput">
                    </div>
                    <div class="form-group">
                        <label for="scoreInput">Image url</label>
                        <input type="text" class="form-control" id="imageInput">
                    </div>
                    <button type="submit" class="btn btn-primary" id="saveClient">Save</button>
                </form>
            </div>
            <div class="buttonGroup text-center" id="buttonGroup">
                <button class="btn btn-warning" id="addBtn">Add product</button>
            </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="prodotti.js"></script>

</html>