<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizzazione messaggi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/index.css">
</head>

<body>
    <nav class="nav">
        <a href="../utenti/utenti.html" class="nav__link" data-link>Customer data</a>
        <a href="./bacheca.html" class="nav__link" data-link>Community Feed</a>
        <a href="../prodotti/prodotti.html" class="nav__link" data-link>Products</a>
        <a href="../servizi/servizi.html" class="nav__link" data-link>Services</a>
        <a href="../serviziOnline/serviziOnline.html" class="nav__link" data-link>Online Services</a>
        <a href="/shop" class="nav__link" data-link>Back to Shop</a>
        <a href="/game" class="nav__link" data-link>Play</a>
        <a href="/backoffice" class="nav__link" data-link>LogOut</a>
    </nav>
    <div id="app">
        <div class="container mt-5" id="messageContainer">
        </div>
        <div class="container" id="formcontainer" style="display:none">
            <form class="form form--hidden" id="editMessageForm">
                <div class="form-group">
                    <label for="scoreInput">Message</label>
                    <input type="text" class="form-control" id="newMessage">
                </div>
                <button type="submit" class="btn btn-primary" id="saveClient">Save</button>
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="bacheca.js"></script>
    </div>
</body>

</html>