#service-container 
{
    width: 70%;
    margin-left: auto;
}

#location-select 
{
    width: fit-content;
}

.mobile-service-display #no-location-alert {
    display: none;
}

.mobile-service-display > #filter-container {
    width:100%;
}

.mobile-service-display > #service-container {
    margin-top: 1em;
    width:100%;
}