#animal-select 
{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.animal-card 
{
    border-radius: 50%;
    background-color: lightseagreen;
    margin: 0 2em;
    padding-top:3em;
    padding-bottom: 3em;
}

.animal-card:hover 
{
    background-color: rgb(68, 215, 208);
    transition: 0.1s;
}

