<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Prodotti</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/index.css">
</head>

<body>
    <nav class="nav">
        <a href="../utenti/utenti.html" class="nav__link" data-link>Anagrafica Clienti</a>
        <a href="../bacheca/bacheca.html" class="nav__link" data-link>Bacheca messaggi</a>
        <a href="./prodotti.html" class="nav__link" data-link>Gestione Prodotti</a>
        <a href="../servizi/servizi.html" class="nav__link" data-link>Servizi in presenza</a>
        <a href="../serviziOnline/serviziOnline.html" class="nav__link" data-link>Servizi online</a>
        <a href="../utenti/utenti.html" class="nav__link" data-link>Torna al negozio</a>
        <a href="../utenti/utenti.html" class="nav__link" data-link>Vai ai giochi</a>
        <a href="../utenti/utenti.html" class="nav__link" data-link>LogOut</a>
    </nav>
    <div id="app">
        <h1>Prodotti in vendita</h1>
        <div id="productCards" margin-bottom="100px"></div>
        <div id="buttonGroup">
            <button class="btn btn-warning" id="addBtn">Aggiungi prodotto</button>
            <button class="btn btn-danger" id="removeBtn">Rimuovi prodotto</button>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="prodotti.js"></script>

</html>